@import url(../Modificaciones/_root.css);
* {
    margin: 0;
    padding: 0;
}
/* Contenedor del encabezado */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    min-height: 80px;
    align-items: center;
}
/* Elementos del encabezado */
a {
    text-decoration: none;
    color:var(--color-link);
}

.logo{
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo h2 {
    font-size: var(--font-size-h2);
}

.logo img {
    max-height: 70px;
    margin-right: 10px;
}


nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: var(--spacing-nav);
    font-size: var(--font-size);
}

nav a:hover{
    color: var(--color-link-hover);
    transition: 0.3s;
}

@media (max-width: 750px) {
    header {
        flex-direction: column;
    }

    nav{
        display: flex;
        justify-content: center;
        gap: var(--spacing-item-x);
        padding-bottom: 5px;
    }
}