@import url(../Modificaciones/root.css);
* {
    margin: 0;
    padding: 0;
}
/* Contenedor del encabezado */
header {
    display: flex;
    justify-content: space-between; /*separa los elementos a los extremos
    separandolos del logo y nombre de la empresa*/
    background-color: var(--background);
    min-height: 80px;
    align-items: center;
}
/* Elementos del encabezado */
a {
    text-decoration: none; /* quita el subrayado de los elementos */
    color:var(--color-link);
}

.logo{
    display: flex;
    align-items: center; /* centra verticalmente los elementos logo y nombre en el header */
    padding: 10px;
}

.logo h2 {
    font-size: var(--font-size-h2);
}

.logo img {
    max-height: 70px;
    margin-right: 10px;
}


nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: var(--spacing-nav);
    font-size: var(--font-size);
}

nav a:hover{
    color: var(--color-link-hover);
    transition: 0.3s;
}
/* Al llegar a 750px de ancho, el header cambia a columna, quedando el logo arriba y el nav abajo  */
@media (max-width: 750px) {
    header {
        flex-direction: column;
    }

    nav{
        display: flex;
        justify-content: center;
        gap: var(--spacing-item-x);
        padding-bottom: 5px;
    }
}