

* {
    margin: 0;
    padding: 0;
}
/* Contenedor del encabezado */
.encabezador{
    display: flex;
    justify-content: space-between;
    background-color: var(--background);
    height: max-content;
    align-items: center;
}
/* Elementos del encabezado */
.logo{
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color:var(--color-link);
}

.logo__Empresa {
    font-size: var(--font-size-h2);
}

.logo__img {
    max-height: 70px;
    margin-right: 10px;
}

.barra-nav{
    display: flex;
    align-items: center;
}

.barra-nav__opciones{
    text-decoration: none;
    color:var(--color-link);
    margin-right: var(--spacing-nav);
    font-size: var(--font-size);
}

.barra-nav__opciones:hover{
    color: var(--color-link-hover);
    transition: 0.3s;
}

@media (max-width: 750px) {
    .encabezado--unico{
        flex-direction: column;
    }

    .barra-nav{
        display: flex;
        justify-content: center;
        gap: var(--spacing-item-x);
        padding-bottom: 5px;
    }
}