* {
    margin: 0;
}

html, body {
    height: 100%;             
    display: flex;             
    flex-direction: column;
}

footer {
    margin-top: auto; /* despues de cuadrar el html y body empuja el footer hacia abajo */
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #1b1b1b;
    color: white;
    gap: 20px;
}

/* Cada columna ocupa el mismo espacio */
.footer-luzmar {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.footer-luzmar h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.footer-luzmar ul {
    list-style: none;
    padding: 0;
}

.footer-luzmar ul li {
    margin-bottom: 8px;
}

.footer-luzmar ul li a {
    color: white;
    text-decoration: none;
}

.footer-luzmar ul li a:hover {
    color: aquamarine;
}
