body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.encabezado{
  background: rgb(55, 122, 122);
  color: white;
  text-align: center;
  height: 100%;
  box-sizing: border-box; /*evita que los elementos (en este caso el padding) hagan que el header
  mida mas que la pantalla, metiendo el padding dentro de los 100vh del body*/
  padding: 20px;
}
.encabezado__titulo{
  color: bisque;
}
.navegador ul {
  list-style: none;
  padding: 0;
}

.navegador__lista {
  margin: 10px 0;
}

.navegador__lista a {
  color: white;
  text-decoration: none;
  background: blueviolet;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.navegador__lista a:hover {
  background:rgb(180, 11, 185);
}