/* ================== GALERÍA ================== */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin: 20px;
}

/* Ajustes de la tarjeta dentro de la galería */
.gallery .card {
    display: flex;               /* Para organizar contenido interno */
    flex-direction: column;      /* Imagen arriba, texto y botón abajo */
    align-items: center;         /* Centra horizontalmente */
    justify-content: space-between;
    width: 15%;
    min-width: 200px;
    height: 400px;
    background: #c17979; /* color de ejemplo */
    border-radius: 10px;
    overflow: hidden;            /* Evita que se salga contenido */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}
/* Imagen dentro de la tarjeta */
.gallery .card img {
    width: 100%;
    height: 70%;
    display: block;
    max-height: 250px;    /* límite máximo*/
    object-fit: contain;  /* mantiene proporciones sin cortar */
}
/* Responsividad */
@media (max-width: 1200px) {
.gallery .card {
    width: 30%;
}
}

@media (max-width: 992px) {
.gallery .card {
    width: 45%;
}
}

@media (max-width: 600px) {
.gallery .card {
width: 90%;
}
}