:root {
  /* Colores base */
--color-navbar-horizontal: rgb(196, 142, 77);
--color-navbar-vertical: rgb(183, 240, 221);
--color-link: black;
--color-link-vertical: rgb(126, 88, 88);
--color-link-hover: rgb(11, 145, 150);
--color-link-vertical-hover: rgb(255, 87, 34);

  /* Tipografía */
--font-base: sans-serif;
--font-size-base: 1.125rem;

  /* Espaciado */
--spacing-item-y: 30px;
--spacing-item-x: 20px;
}