/* Contenedor general de tarjetas */
/* aca se usa flex-wrap, para que los bloques a medida de que se disminuya el ancho
de pantalla, se vayan acomodando uno debajo de otro */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

/* Tarjeta individual */
.card {
    background-color: #b66a6a;
    border: 3px solid #923d3d;
    border-radius: 8px;
    width: 250px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;  /* se usa para alinear contenido verticalmente */
    justify-content: space-between; /* distribuye el contenido uniformemente 
    en el espacio disponible */
}

/* Imagen dentro de la tarjeta */
.card__image {
    width: 100%;
    height: 180px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Título y descripción */
.card__title {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card__description {
    font-size: 1rem;
    flex-grow: 1;  /* ocupa espacio sobrante */
    margin-bottom: 12px;
}