@import url('../Modificaciones/root.css');
/* se importan variables de colores, tamaño de letras desde el root.css */
/* FORMULARIO DE CONTACTO */
.contact-form {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: var(--color-navbar-vertical);
    border: 2px solid var(--color-navbar-horizontal);
    border-radius: 12px;
    font-family: var(--font-base);
    display: flex;
    flex-direction: column; /* este permite que los se alineen verticalmente*/
    gap: 20px;
}

/* fila de inputs en 2 columnas */
.contact-form__row {
    display: flex; /* en este espacio lo que hace es qu los elementos esten alineados horizontalmente 
    y junto al anterior que sigan siendo verticales*/
    gap: 20px; /* le da un espacio entre los elementos */
}

/* Contenedor de los grupos de labels e inputs*/
.contact-form__group {
    display: flex;
    flex-direction: column;
}

/* Labels */
.contact-form__label {
    margin-bottom: 6px;
    font-weight: bold;
    font-size: var(--font-size-base);
    color: var(--color);
}

/* Inputs */
.contact-form__input,
.contact-form__textarea {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 1rem;
    font-family: var(--font-base);
}

/* Textarea ocupa todo el ancho del formulario */
.contact-form__textarea {
    min-height: 120px;
}

/* Botón centrado */
.contact-form__button {
    align-self: center;
    width: 150px;
}
.contact-form__row .contact-form__group {
    flex: 1; /* cada grupo ocupa el mismo espacio disponible */
}
