/*  GALERÍA  */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin: 20px;
}

/* Ajustes de la tarjeta dentro de la galería */
.gallery .card {
    display: flex;  
    flex-direction: column; /* Imagen arriba, texto y botón abajo */
    align-items: center; /* Centra horizontalmente */
    justify-content: space-between;
    width: 15%;
    min-width: 200px;
    height: 400px;
    background: var(--color-navbar-horizontal); /* Color de fondo */
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}
/* Imagen dentro de la tarjeta */
.gallery .card img {
    max-height: 250px; /* Altura máxima */
}

/* Responsividad */
@media (max-width: 1200px) {
.gallery .card {
    width: 30%;
}
}

@media (max-width: 992px) {
.gallery .card {
    width: 45%;
}
}

@media (max-width: 600px) {
.gallery .card {
width: 90%;
}
}